bagpy==0.5
catkin_pkg==1.0.0
catkin_pkg_modules==1.0.0
cv_bridge==1.13.0.post0
GitPython==3.1.44
gym==0.24.0
matplotlib==3.7.5
numpy==1.24.4
pandas==2.0.3
py3rosmsgs==1.18.2
rospkg==1.6.0
rospkg_modules==1.6.0
scikit_learn==1.3.2
tf==1.0.3
torch==2.4.1
torchvision==0.19.1
tqdm==4.67.1
attrs==20.3.0
